@use "../../css/variables.module" as *;

.excalidraw {
  .FontPicker__container {
    display: grid;
    grid-template-columns: calc(1rem + 3 * var(--default-button-size)) 1rem 1fr; // calc ~ 2 gaps + 4 buttons
    align-items: center;

    @include isMobile {
      max-width: calc(
        2rem + 4 * var(--default-button-size)
      ); // 4 gaps + 4 buttons
    }

    &--compact {
      display: block;
      grid-template-columns: none;
    }
  }

  .font-picker-listbox:focus {
    outline: none;
  }

  .font-picker-listbox:focus-visible
    .floating-surface__item[data-highlighted="true"] {
    box-shadow: inset 0 0 0 2px var(--floating-surface-focus);
  }
}
