@use "../../css/variables.module" as *;
@use "../primitives/button" as *;

.excalidraw {
  .dropdown-menu-positioner {
    z-index: var(--zIndex-ui-main-menu);
  }

  .dropdown-menu {
    &__submenu-trigger-icon {
      svg g {
        stroke-width: 2;
      }
    }

    &--mobile {
      width: 100%;

      &.main-menu {
        min-width: 232px;

        @media screen and (orientation: landscape) {
          max-width: 232px;
        }
      }
    }

    .dropdown-menu-container {
      padding: 0;
    }

    .dropdown-menu-item-base {
      flex: 0 0 auto;
    }

    &.manual-hover {
      .dropdown-menu-item:hover:not(.dropdown-menu-item--hovered) {
        background-color: transparent;
      }

      .dropdown-menu-item--hovered {
        background-color: var(--ui-surface-hover);
      }

      .dropdown-menu-item--selected {
        background-color: var(--ui-surface-selected);
      }
    }

    &.fonts {
      min-inline-size: 100%;
      max-block-size: min(
        23rem,
        var(--radix-popover-content-available-height, 23rem)
      );

      .dropdown-menu-item-base {
        display: inline-flex;
      }

      .dropdown-menu-group:not(:first-child) {
        margin-block-start: var(--ui-space-4);
      }

      .dropdown-menu-group-title {
        margin: 0;
      }
    }

    .dropdown-menu-item {
      cursor: pointer;

      &__text {
        display: flex;
        align-items: center;
        min-width: 0;
        flex: 1 1 auto;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      svg {
        width: 1rem;
        height: 1rem;
        display: block;
      }
    }

    .dropdown-menu-item__shortcut--orphaned {
      padding-inline: var(--ui-space-3);
      text-align: end;
    }

    .dropdown-menu-item-bare {
      align-items: center;
      justify-content: space-between;

      svg {
        width: 1rem;
        height: 1rem;
        display: block;
      }
    }

    .dropdown-menu-item-custom {
      margin-block-start: var(--ui-space-2);
    }

    .dropdown-menu-group-title {
      margin: 0;
    }
  }

  .dropdown-menu-button {
    @include uiButtonStyles;
    width: var(--lg-button-size);
    height: var(--lg-button-size);

    --background: var(--color-surface-mid);

    background-color: var(--background);

    @at-root .excalidraw.theme--dark#{&} {
      --background: var(--color-surface-high);
      &:hover {
        --background: #363541;
      }
    }

    &:hover {
      --background: var(--color-surface-high);
      background-color: var(--background);
      text-decoration: none;
    }

    &:active {
      box-shadow: 0 0 0 1px var(--color-primary);
    }

    &[disabled] {
      cursor: not-allowed;

      &:hover {
        --background: var(--color-surface-mid);
        background-color: var(--background);
      }

      &:active {
        box-shadow: none;
      }

      @at-root .excalidraw.theme--dark#{&} {
        &:hover {
          --background: var(--color-surface-high);
        }
      }
    }

    svg {
      width: var(--lg-icon-size);
      height: var(--lg-icon-size);
    }

    &--mobile {
      border: none;
      margin: 0;
      padding: 0;
      width: var(--default-button-size);
      height: var(--default-button-size);
    }
  }
}
