@use "../css/variables.module" as *;

.excalidraw {
  .context-menu-popover {
    z-index: var(--zIndex-ui-main-menu);
  }

  .context-menu {
    display: flex;
    flex-direction: column;
    gap: var(--ui-space-1);
    list-style: none;
    user-select: none;
    margin: 0;
    padding: 0;
    cursor: default;
  }

  .context-menu-item {
    min-inline-size: 0;
    margin: 0;
    white-space: nowrap;

    .context-menu-item__label {
      min-width: 0;
      flex: 1 1 auto;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .context-menu-item__shortcut {
      min-width: 2.5rem;
      text-align: end;
    }
  }

  .context-menu-item:focus {
    z-index: 1;
  }

  @include isMobile {
    .context-menu-item {
      .context-menu-item__shortcut {
        display: none;
      }
    }
  }

  .context-menu-item-separator {
    margin-inline: var(--ui-space-2);
  }
}
