@use "../css/variables.module" as *;

.excalidraw {
  .Dialog {
    user-select: text;
    cursor: auto;
  }

  .Dialog__title {
    min-width: 0;
    flex: 1 1 auto;
    margin: 0;
    text-align: left;
    font-size: var(--ui-font-size-xl);
    font-weight: var(--ui-font-weight-semibold);
    line-height: var(--ui-line-height-tight);
  }

  .Dialog__close {
    color: var(--color-gray-40);
    margin: 0;
    position: relative;
    flex: 0 0 auto;
    margin-inline-start: auto;
    border: 0;
    background-color: transparent;
    line-height: 0;
    cursor: pointer;

    &:hover {
      color: var(--color-gray-60);
    }
    &:active {
      color: var(--color-gray-40);
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .Dialog__content {
    min-inline-size: 0;
    min-block-size: 0;
    flex: 1 1 auto;
  }
}
